*{
    font-family: 標楷體;
}
body{
    background-color: black;
}

.section1{
    margin:100px; 
    height:600px;
}
.container1{
    background-color: rgb(240,229,217);
    width:45%;
    height: 700px;
    float:left;
}
#photo{
    width:250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    top:100px;
    left:150px;
}
#name{
    font-size: 30px;
    color: #2a4c65;
    font-weight:bold;
    line-height: 40px;
    position: relative;
    top:130px;
    left:230px;
}
#line{
    width:6%;
    position: relative;
    top:160px;
    left:230px;
}
#ig{
    width:6%;
    position: relative;
    top:160px;
    left:240px;
}
#email{
    width:6%;
    position: relative;
    top:160px;
    left:250px;
}
.container1 a:hover img{
    transform: scale(1.2);

}

.container2{
    background-color: rgb(240,229,217);
    width:55%;
    height: 700px;
    float: right;
}

.box{
    width:40px;
    height: 5px;
    background-color: #2a4c65;
    position: relative;
    
}
#box1{
    top:150px;
    left:100px;

}
#about{
    position: relative;
    top:160px;
    left: 100px;
}
#quote{
    position: relative;
    top:150px;
    left:400px;
    font-size: 50px;
    color: #2a4c65;

}
#txt{
    position: relative;
    top:120px;
    left: 100px;
    line-height: 30px;
    font-size: larger;
    
}
#introduce{
    position: relative;
    top:170px;
    left:100px;
    line-height: 24px;
    font-size: large;
}

#reseume{
    color:#ca774b;
    font-size: 100px;
    font-weight: bolder;
    position:relative;
    top:100px;
    left:100px;
}

/*經驗*/
.section2{
    margin:100px;
    height:1200px;
}

.container3{
    background-color: rgb(240, 229, 217);
    height:1300px;
}
.wrap{
    width: 960px;
    margin:auto;  
}
ul *{   
list-style: none;
}
.timeline{  
    padding: 0px 0; /*改高度*/
}
.timeline li{  
    width:50%;
    box-sizing: border-box;
    padding:20px 0;
    position: relative;
}
.timeline li:nth-child(odd){
    float:left;
    padding-right: 50px;

}
.timeline li:nth-child(even){
    float:right;
    padding-left: 50px;
}
.timeline li:nth-child(odd)::after{
    content :'';
    position: absolute;
    width:1px;
    height:100%;
    top:0;
    background-color: #5a7169;
    right:0;
}
.timeline a{   
    display: block;
    background-color: rgb(240, 229, 217);
    padding: 20px;
}
.timeline a:hover h2,.timeline a:hover p{
    color:#CA774B;/*觸及a時改變字體顏色*/
    transform: scale(1.2);
}
.timeline h2{
    color:#5a7169;
    font-weight: 700;
}
.timeline p{
    color:#5a7169;
    font-weight: 100;  
}
.a1{
    text-align: right;
    
}
#box2{
    /*width:300px;*/
    top:1090px;
    left:95px;
}
.project44{
    position: absolute;
    top:1900px;
    left:200px;
    font-size: 50px;
}

/*專案*/
.section3{
    margin:100px; 
    padding:0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container4{
    height: 700px;
    background-color: rgb(240, 229, 217);
    position: relative;
    width:1300px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:30px;
}
#box4{
    top:50px;
    left:125px;
}
.skill{
    position: relative;
    top:60px;
    left:125px;
    font-size: x-large;
}
.container4 .block{
    position: relative;
    top:50px;
    width: 300px;
    height: 400px;
    margin:20px 0 ;
    box-sizing: border-box;
    overflow: hidden;

}
#prog{
    width:300px;
    height: 400px;
    border-radius: 50px;
}
.container4 .block .imgBx{
    position: relative;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: #000;
    clip-path: circle(400px at center 100px);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.container4 .block:hover .imgBx{
 clip-path: circle(80px at center 100px);
 transition-delay: 0s;

}
.container4 .block:hover .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.container4 .block .content{
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    height: 55%;
    padding:20px;
    box-sizing: border-box;
    text-align: center;

}
.container4 .block .content h2{
    margin:0;
    padding:0;
}
.container4 .block .content a{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding:5px;
    display:inline-block;
}
.container4 .block .content h2,
.container4 .block .content p,
.container4 .block .content a{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
}
.container4 .block:hover .content h2{
 opacity: 1;
 transform: translateY(0px);
 transition-delay: 0.5s;
}
.container4 .block:hover .content p{
 opacity: 1;
 transform: translateY(0px);
 transition-delay: 0.7s;

}
.container4 .block:hover .content a{
 opacity: 1;
 transform: translateY(0px);
 transition-delay: 0.9s;
}


/*專業技能*/
.section4{
    margin:100px;
    height:600px;
    /*display:flex;*/

}
.prog{
    float:left;
    background-color: rgb(240,229,217);
    height: 700px;
    width: 50%;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.prog article *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.prog article{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   
   justify-content: center;
   align-items: center;
   background-color:#e0e4ed;
}
.frem{
    width:22rem;
    height: 91px;
    background: rgb(240,229,217);
    /*box-shadow: 12px 11px 20px #0000000f;
    border-radius: 21px;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0px 20px;
    position:relative;
    top:100px;
    left:100px;

}
.logo{
     width: 62px;
     height: 62px;
     background: #fe8a91;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0px 0px 20px #fd4e864f ;

}
.logo img{
    width:40px;
}

.size-file{
    width: 16rem;/*進度條全長*/
    position: absolute;
    top:0px;
    left: 89px;
    right:17px;
    display: flex;
    justify-content:space-between;

}
.size-file p{
    font-size: 21px;
    color:#767676;
    
    font-weight: 600;
}
.loading,.loading2,.loading3,.loading4,.loading5{
    position: absolute;
    left:5rem;
    top:67px;
    display: flex;
    align-items: center;
}
.loading::after,.loading:hover{
    content: "";
    position: absolute;
    width:0rem;
    height: 13px;
    background: linear-gradient(90deg,#fecfc8,#fe818a);
    border-radius: 23px;
    animation: anim 1s forwards ease-in-out;
}
.loading::before,.loading2::before,.loading3::before,.loading4::before,.loading5::before{
    content: "";
    width:16rem;
    height: 6px;
    background: #b5b5b58c;
    border-radius: 12px;
    position: absolute;
} 

.loading2::after,.loading2:hover{
    content: "";
    position: absolute;
    width:0rem;
    height:13px;
    background: linear-gradient(90deg,#fecfc8,#fe818a);
    border-radius: 23px;
    animation: anim2 1s forwards ease-in-out;
}


.loading3::after,.loading3:hover{
    content: "";
    position: absolute;
    width:0rem;
    height:13px;
    background: linear-gradient(90deg,#fecfc8,#fe818a);
    border-radius: 23px;
    animation: anim3 1s forwards ease-in-out;
}
.loading4::after,.loading4:hover{
    content: "";
    position: absolute;
    width:0rem;
    height:13px;
    background: linear-gradient(90deg,#fecfc8,#fe818a);
    border-radius: 23px;
    animation: anim4 1s forwards ease-in-out;
}
.loading5::after,.loading5:hover{
    content: "";
    position: absolute;
    width:0rem;
    height:13px;
    background: linear-gradient(90deg,#fecfc8,#fe818a);
    border-radius: 23px;
    animation: anim5 1s forwards ease-in-out;
}



@keyframes anim{
    100%{
        width: 10rem;

    }
}
@keyframes anim2{
    100%{
        width: 7rem;

    }
}
@keyframes anim3{
    100%{
        width: 14rem;

    }
}
@keyframes anim4{
    100%{
        width: 8rem;

    }
}
@keyframes anim5{
    100%{
        width: 13rem;

    }
}

.life{
    float:right;
    width:50%;
    height: 700px;
    background-color: rgb(240, 229, 217);
}
.life1{
    width:400px;
    height:200px;
    border-radius: 10px;
    position: relative;
    top:150px;
    left:100px;
}
.life2{
    width:80px;
    height:80px;
    padding:10px;
    border-radius: 50%;
    position: relative;
    top:200px;
    left:100px;
}
.life2:hover{
    transform: scale(2.0);
}

#box3{
    top:50px;
    left:100px;
}
.mylife{
    font-size: x-large;
    position: relative;
    top:60px;
    left:100px;

}
footer{
    margin: 100px;
    background-color: rgb(240, 229, 217);
    text-align: center;
    height: 50px;

}